* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active {
    outline: none;
}
a:focus,a:active {
    outline: none;
}

nav,footer,header,aside {
    display: block;
}

html,body{
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
    font-style: normal;
	font-weight: normal;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: 'Roboto';
}
img {
	max-width: 100%;
	height: auto;
}

input,button,textarea {
    font-family:inherit;
}

input::-ms-clear {
    display: none;
}
button {cursor: pointer;
}
button::-moz-focus-inner {
    padding:0;border:0;
}
a, a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
h1,h2,h3,h4,h5,h6 {
    font-size:inherit;font-weight: 400;
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		 url('../fonts/roboto-v27-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/roboto-v27-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: local(''),
		 url('../fonts/roboto-v27-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/roboto-v27-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
.header{
	max-width: 1920px;
    display: flex;
	flex-wrap: wrap;
	padding-top: 12px;
    padding-left: 19.6%;
	position: fixed;
}
.header__logo__img{
	margin-right: 57px;
}
.header_list{
	display: flex;
	flex-wrap: wrap;
}
.header__link{
    margin-right: 35px;
	font-size: 23px;
	line-height: 60px;
	cursor: pointer;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	color: #000000;
}
.header__link__sign{
	/* text-shadow: 1px 1px 3px  #70CB0E; */
	text-shadow:#70CB0E 0 0 2px;
}

.map{
    background-color: #A7E1FF;
    position: relative;
    z-index: -1;
	height: 945px;
	padding-top: 30px;
	padding-bottom: 100px;
}
.map-img{
/*     padding-top: 100px;
   	display: block;
    margin-left: auto;
    margin-right: auto;
     width: 50%; 
	/*margin-top: 100px; */
	/* height: 78,8%;
	width: 60,4%; 
	height: 745px;
	width: 1160px; */
	
	position: absolute;
	left: 19.79%;
	right: 19.79%;
	top: 10.58%;
	bottom: 10.58%;
	
	
}
/* .animal{
	background: url(../img/map.svg) no-repeat center;
} */
.animals{
	display: flex;	
	align-items:center;
} 
.eagle{
	position: absolute;
	top: 52.5%;
	left: 20.8%; 
}
.eagle-p{
	padding-right: 8px;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
}

.alligator{
	position: absolute;
	top: 53.3%;
	left: 35.6%;
} 
.alligator-p{
	width: 102px;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	background-color: #70CB0E;

}
.alligator-pic{
	padding-right: 9px;
	background: url(./img/Vector\ 3.svg) no-repeat right;

}
.aligator-p-1{
	text-transform: uppercase;
}
.gorilla{
	position: absolute;
	top: 64%;
	left: 53.9%;
}
.gorilla-p{
	padding-left: 8px;
}
.panda{
	position: absolute;
	top: 53.9%;
	left: 67.8%;
}
.panda-p{
	width: 53px;
	padding-left: 8px;
}
.counrty-3{
	position: absolute;
	top: 53%;
	left: 63.2%;
}
.counrty-1{
	position: absolute;
	top: 67%;
	left: 46.7%;
	width: 61px;
	text-align: center;
}
.counrty-2{
	position: absolute;
	top: 52%;
	left: 30.2%;
}

.footer{
	height: 278px;
	background: #DFF5B0;
}
.footer-wrapper{
	width: 1160px;
	margin: 0 auto;
}
.first-level{
	padding-top: 80px;
	display: flex;
	align-items: center;
}
.footer__logo__img{
	padding-right: 100px;
}
.footer-button{
	padding: 15px 28px;
	background: #70CB0E;
	border-radius: 30px;
}
.footer-nav{
	padding-left: 162px;
	/* display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 121px;
	grid-template-rows: 15px; */
	display: flex;

}
.footer-column-1{
	padding-right: 121px;
}
/*.footer-column-2{
	padding-bottom: 20px;
}
.footer-list{
	
} */
.social-list{
	display: flex;
	padding-left: 123px;
}
.footer-list-id{
	color: #000000;
	font-size: 18px;
	line-height: 21px;
}
.social-list-img{
	padding-right: 10px;
}
.second-level{
	padding-top: 70px;
	display: flex;
	padding-bottom: 20px;
}
.footer__rss__img{
	padding-right: 57px;
}
.footer__yem__img{
	padding-right: 77px;
}
.footer-text {
	padding-top: 27px;
	padding-right: 213px;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}
.designer{
	padding-top: 27px;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}
.footer-bg{
	position: absolute;
	top: 950px;
	left: 0;
	height: 270px;
	width: 100%;
	background: url(../img/footer.svg) no-repeat;
	z-index: -1;
}

@media (max-width: 1200px){
	.header{
		padding-left: 20px;
	}
}